.hidden {
    display: none;
}

/* 로그인 화면 스타일 */
#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffeb3b;
    color: black;
}

#login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#login-container input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-container button {
    padding: 10px 15px;
    font-size: 16px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-container button:hover {
    background: #333;
}